.container{
    margin-bottom: 100px;
}
.bg-bg{
    background-color: #feeae9;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.bay-now-button{
    color: #fff;
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.catagories h1{
    color: #fff;
}
.catagories img{
    width: 150px;
}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.cat1{
    background: linear-gradient(to right, orange 0%, #ffb900 100%);
}
.cat2{
    background: linear-gradient(to right, orchid 0%, #ff20bc 100%);
}
.cat3{
    background: linear-gradient(to right, blue 0%, #0085ff 100%);
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: #fff;
    border-top: none;
}

#contact{
    height: 300px;
}
#contact h6{
    color: gray;
}
#contact input{
    margin-bottom: 10px;
}